# Node
node_modules/
.env

# macOS
.DS_Store

# VS Code
.vscode/

# CMake / Build
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake

# Personal voice commands for test
*.wav

